.星黛露1 img{
	float:left;
	width:200px;
	height:200px;
	margin-bottom:80px;
}

.title{
	float:left;
	padding-top:80px;
	padding-left:240px;
}

.title span{
	font-family:YouYuan;
	font-size:50px;
}

.星黛露2 img{
	float:right;
	width:200px;
	height:200px;
	margin-left:240px;
}

.table1{
	background-color: #FFE4B5;
	border-collapse: collapse; 
	width:920px;
	margin-left:90px;
}

.td1{
	color: #5A5A5A;
	line-height: 2.0;
    font-size: 14px;
	border-left:2px solid white; 
	border-top:2px solid white;
	border-bottom:2px solid white;
	height:40px;
	width:20px;
	padding-left:200px;
	font-weight:bolder;
}

.td{
	color: #5A5A5A;
	line-height: 2.0;
    font-size: 14px;
	border-right:2px solid white; 
	border-top:2px solid white;
	border-bottom:2px solid white;
	height:40px;
	width:20px;
	padding-left:40px;
}
